<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket.Q | Perguntas e Respostas</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/room.css" />
    <link rel="stylesheet" href="../styles/modal.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- SCRIPT -->
    <script src="/scripts/main.js" defer type="module"></script>
</head>

<body>
    <div id="room" class="content">
        <header>
            <a href="#">
                <img src="../assets/logo.svg" alt="Rocket.Q Logo" />
            </a>
            <div class="buttons">
                <div class="button outlined noDarkMode" id="room_id" data-id="<%= roomId %>" onclick="copyRoomURL();">
                    #
                    <%= roomId %>
                        <img src="../assets/copy.svg" alt="Copiar a URL da sala" class="noDarkMode" />
                </div>

                <a href="/create-pass" class="button noDarkMode">
                    <img src="../assets/users-white.svg" alt="Criar uma sala" class="noDarkMode" /> Criar Sala
                </a>

                <div id="slider" class="noDarkMode">
                    <span class="noDarkMode"></span>
                </div>
            </div>
        </header>

        <main>
            <section id="question-form">
                <h2>Faça sua pergunta</h2>
                <form action="/question/create/<%= roomId %>" method="POST">
                    <label class="sr-only" for="question">O que você quer perguntar?</label>
                    <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                    <footer>
                        <div class="noDarkMode">
                            <img src="../assets/lock.svg" alt="Cadeado" class="noDarkMode" /> Esta pergunta é anônima
                        </div>
                        <button class="noDarkMode">Enviar</button>
                    </footer>
                </form>
            </section>

            <section id="questions">
                <% if (isNoQuestions){ %>
                    <%- include('parts/no-question') %>
                        <% } %>

                            <% questions.forEach(question=> { %>
                                <div class="question-wrapper noDarkMode">
                                    <div class="question-content noDarkMode">
                                        <div class="user noDarkMode">
                                            <img src="../assets/avatar.svg" alt="Avatar" class="noDarkMode">
                                        </div>
                                        <div class="question noDarkMode">
                                            <p class="noDarkMode">
                                                <%= question.q_title %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="actions noDarkMode">
                                        <a href="#" class="check noDarkMode" data-id="<%= question.q_id %>">
                                            <img src="../assets/check.svg" alt="Marcar como lida" class="noDarkMode"> Marcar como lida
                                        </a>
                                        <a href="#" class="delete noDarkMode" data-id="<%= question.q_id %>">
                                            <img src="../assets/trash.svg" alt="Excluir" class="noDarkMode"> Excluir
                                        </a>
                                    </div>
                                </div>
                                <% }); %>

                                    <% questionsRead.forEach(questionRead=> { %>
                                        <div class="question-wrapper read">
                                            <div class="question-content">
                                                <div class="user">
                                                    <img src="../assets/avatar.svg" alt="Avatar">
                                                </div>
                                                <div class="question">
                                                    <p>
                                                        <%= questionRead.q_title %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="actions">
                                                <a href="#" class="delete" data-id="<%= questionRead.q_id %>">
                                                    <img src="../assets/trash.svg" alt="Excluir"> Excluir
                                                </a>
                                            </div>
                                        </div>
                                        <% }); %>
            </section>
        </main>
    </div>

    <div class="modal-wrapper noDarkMode">
        <div class="modal">
            <h2 class="noDarkMode">Excluir pergunta</h2>
            <p class="noDarkMode">Tem certeza que você deseja excluir esta pergunta?</p>
            <form action="#" method="POST" class="noDarkMode">
                <label class="sr-only" for="password">Digite sua senha admin</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha admin">

                <div class="buttons noDarkMode">
                    <div class="button grey cancel noDarkMode">Cancelar</div>
                    <button class="red noDarkMode">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function copyRoomURL() {
            let text = window.location.href;
            let elem = document.createElement("textarea");

            document.body.appendChild(elem);
            elem.value = text;

            elem.select();
            document.execCommand("copy");

            document.body.removeChild(elem);
        }
    </script>

    <script src="/scripts/darkmode.js"></script>

</body>

</html>